Source: cutefish-terminal
Section: devel
Priority: optional
Maintainer: Reion Wong <reionwong@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libcutefish,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 4.5.0
Homepage: https://github.com/cutefishos

Package: cutefish-terminal
Architecture: any
Depends: qml6-module-qtquick-controls,
         qml6-module-qtquick,
         qml6-module-qtquick-layouts,
         qml6-module-qtqml,
         qml6-module-qtcore,
         qml6-module-qtquick-window,
         fishui,
         libcutefish,
         ${misc:Depends},
         ${shlibs:Depends}
Description: CutefishOS Terminal
